<!DOCTYPE html>
<html>
<head>

	<title></title>
	
	
</head>
<body>

<!-- <form id="signupform" autocomplete="off" method="POST" action="" novalidate="novalidate">
	<div class="controls">
    	<input id="email_address" name="email_address" type="text" class="form-control zocial-dribbble" placeholder="Enter your email" /></div>
    <div class="controls">
        <input id="password" name="password" class="form-control" type="password" placeholder="Password" />
    </div>                           
                            
    <input id="signup-btn" type="submit" value="Sign Up" />
</form> -->
<form class="form-signin" action="" method="post" role="form">
             <h2 class="form-signin-heading">Please Sign Up </h2>
             <input type="email" name="email_address" id="email_address" class="form-control" placeholder="Email address" required autofocus>
             <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
 
             <button class="btn btn-lg btn-primary btn-block" type="button">Register </button>
         </form>
<div id="result-message-signup">

<button onclick="getusers()">display users</button>
<div id="users"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/get.js" ></script>
<script type="text/javascript" src="/static/js/add.js" ></script>
<script type="text/javascript" src="/static/js/jquery-3.1.1.min.js" ></script>
<script type="text/javascript" src="/static/js/jquery-1.12.5.min.js" ></script>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> -->
</body>
</html>